<style>
	body {font-size:100%;}
    h1 {
    color: rgb(161, 64, 32);
    font-family: 'SnellRoundhand-Bold', 'Snell Roundhand', 'Script', cursive;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 46px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: 4px 4px 5px rgb(255, 255, 255);
    text-transform: none;
    }
    h2 {
        font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-weight: 400;
        font-size:1em;
        color:#407AAA;
        text-align: center;
        margin: 0px 0px;
        padding: 0px 0px;
        width: 900px;
    }
    </style>